footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  flex-wrap: wrap;
}

a img {
  max-height: 50px;
  border-radius: 10px;
}

nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
    justify-content: center;
  }
}